---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import HeroSection from "../components/HeroSection.astro";
import BilledeSection from "../components/BilledeSection.astro";
import Anmeldelser from "../components/Anmeldelser.astro";
import Kapitler from "../components/Kapitler.astro";
import BilledeGalleri from "../components/BilledeGalleri.astro";
---

<MainLayout title="Titel">
  <article>
    <h1>Index overskrift</h1>
    <Button>Klik!</Button>
    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
    <HeroSection />
    <Kapitler />
    <BilledeSection />
    <Anmeldelser />
    <BilledeGalleri />
  </article>
</MainLayout>
