---

---

<h3>Anmeldelser af bogen</h3>
<section class="grid grid-cols-3">
  <div class="">
    <h4>5 af 6 stjerner</h4>
    <p>
      Københavnerbilleder er en grundig introduktion til at skyde billeder med
      retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på
      markedet, du kun har skudt digitalt eller er helt nybegynder, er der
      masser af tips og tricks i bogen. Hanne Hovgaard, Berlingeren
    </p>
  </div>
  <div>
    <h4>4 af 5 stjerner</h4>
    <p>
      Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal man
      sige om en fotobog? Kim Kloggaard, Fotojournalen.dk
    </p>
  </div>
  <div>
    <h4>6 af 6 stjerner</h4>
    <p>
      Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje
      fotobog er klart den bedste - her er han for alvor i sit rette element,
      meget bedre end “studiefotografering som begyndere.” Tillykke - godt
      arbejde. Volmer Hansen, Lukkertiden.dk
    </p>
  </div>
</section>
