---

---

<section class="grid grid-cols-3">
  <div>
    <img src="https://picsum.photos/800/600" alt="" class="col-span-1" />
  </div>
  <div>
    <img src="https://picsum.photos/800/600" alt="" class="col-span-1" />
  </div>
  <div>
    <img src="https://picsum.photos/800/600" alt="" class="col-span-1" />
  </div>
</section>
