---
import Link from "../components/Link.astro";
---

<div
  x-data="{ showmenu: false }"
  class="p-4 fixed lg:static w-full bg-slate-200"
>
  <div id="navbar" class="flex flex-row justify-between">
    <div id="logo" class="">
      <a href="#link1">Site logo</a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-4">
        <li class="">
          <Link href="#">Københavnerbilleder</Link>
        </li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
        <li class=""><Link href="#">Bogens indhold</Link></li>
        <li class=""><Link href="#">Forfatteren</Link></li>
        <li class=""><Link href="#">Køb nu</Link></li>
      </ul>
    </nav>
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"
      >Menu</button
    >
  </div>
  <nav
    id="mobilmenu"
    class="flex flex-col content-center pt-4"
    x-show="showmenu"
    x-transition
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul>
      <li class="text-center py-2 border-y-2">
        <Link href="#">Københavnerbilleder</Link>
      </li>
      <li class="text-center py-2 border-b-2">
        <Link href="#">Bogens indhold</Link>
      </li>
      <li class="text-center py-2 border-b-2">
        <Link href="#">Forfatteren</Link>
      </li>
      <li class="text-center py-2 border-b-2"><Link href="#">Køb nu</Link></li>
    </ul>
  </nav>
</div>
