---
import Button from "./Button.astro";
---

<section class="grid grid-cols-5">
  <img src="https://picsum.photos/800/600" alt="" class="col-span-3" />
  <div class="col-span-2 grid content-center">
    <h1>Københavnerbilleder - en guide til hipster foto af Sten Simons</h1>
    <p>
      Billede af bogen: Kan være “kobenhavnerbilleder-sten-simon.jpg” eller
      billeder fra bogen - der er frit valg, så længe  det skaber stemning.
    </p>
    <Button variant="primary" size="small">Tryk på mig</Button>
  </div>
</section>
<section class="grid grid-cols-2">
  <div>
    <h2>Kort om bogen</h2>
    <p>
      Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion
      mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige
      aspekter af streetfotografering fra grundlæggende teknik til kreative
      eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God
      læselyst!
    </p>
  </div>
  <div>
    <h2>Stamdata for bogen</h2>
    <ul>
      <li>Titel: Københavnerbilleder - en guide til hipster foto</li>
      <li>Forfatter: Sten Simons</li>
      <li>Antal sider: 344</li>
      <li>Forlag: Mellem Linjerne</li>
      <li>ISBN: 987-6-987654-32-1</li>
      <li>Pris: 399.-</li>
    </ul>
  </div>
</section>
